@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');



.PatientTable .PatientSearchList
    align-self: auto
    border-radius: 25px
    background: transparent
    margin-top: 20px
    margin-bottom: 10px
    margin-right: 60px
    margin-left: 30px
    justify-content: center
    align-items: center
    padding: auto
    font-size: 50px

th,td,table,#TB
    font-size: 20px
    font-family: 'Do Hyeon';
    background-color: rgba(20, 200, 200, 0.1)